COTAN.Rcheck/*
COTAN_stable.Rproj
COTAN.Rcheck/00check.log
COTAN.Rcheck/COTAN-manual.log
COTAN.Rcheck/Rdlatex.log
.Rproj.user
.Rhistory
.rhistory
.RData
.Ruserdata
COTAN.Rproj
COTAN.rproj
inst/doc
data/E17.5_cortex.cotan.RDS
data/cleaning/*
*.tar.gz
*.Rproj
.rhistory
